*:not(i) {
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    color: #081b3a;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background: none;
    padding: 0;
}

input,
button:focus {
    outline: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
    outline: none;
}
.grey-color {
    color: #666;
}
.bg-grey {
    background-color: #f9f9f9;
}
.theme-color {
    color: #3143ef !important;
}
.text-blue {
    color: #3143ef;
}
.fw-500 {
    font-weight: 500;
}

.sec-padding {
    padding: 70px 0;
}
.sec-padding-top {
    padding-top: 70px;
}
.sec-padding-bottom {
    padding-bottom: 70px;
}
.sec-margin {
    margin: 70px 0;
}
.sec-margin-top {
    margin-top: 70px;
}
.sec-margin-bottom {
    margin-bottom: 70px;
}
/** main btn **/
.main-btn {
    display: inline-block;
	background-color: #3143ef;
    border: 1px solid #3143ef;
    border-radius: 3px;
    color: #ffffff;
    font-size: 1.1rem;
    padding: .75rem 1.6rem;
    min-width: 8.5rem;
    cursor: pointer;
    transition: all 0.3s;
}
.main-btn.white {
    background: #fff;
    border: 1px solid #3143ef;
    color: #3143ef;
}
.main-btn:hover {
    background-color: transparent;
    color: #3143ef;
}
.main-btn.white:hover {
    background-color: #3143ef;
    color: #fff;
}

.text-grey {
	color: #777;
}
.text-dark-blue {
	color: #2b2d42;
}

/** section title **/
.section-title {
    position: relative;
    margin-bottom: 2.5rem;
}
.section-title h2 {
    font-weight: bold;
    font-size: 2rem;
}
.section-title h1 {
    margin-bottom: 13px;
	font-size: 3.1rem;
    font-weight: bold;
    color: #2b2d42;
}
.section-title h1 span {
    font-size: 3.1rem;
}
.section-title p {
    color: #777;
}
.section-title span {
	color: #3143ef;
	font-size: 1.5rem;
}
.dropdown .droplist {
    min-width: 220px;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 100%;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 17%);
            box-shadow: 0 6px 12px rgb(0 0 0 / 17%);
    border-radius: 3px;
    background: #fff;
    z-index: 9;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.dropdown .droplist li {
    color: #333;
    padding: 7px 0;
}
.dropdown:hover .droplist {
    visibility: visible;
    opacity: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

/*** Header Top ***/
.header-top {
    padding: .3rem 0;
}
.header-top .social-icons {
    line-height: 0;
}
.header-top .social-icons li {
    display: inline-block;
    border-right: 1px solid #eeecf7;
    margin: 0;
}
.header-top .social-icons li a {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    margin: 0;
    border-radius: 0.25rem;
    border: 0;
    background: transparent;
    color: #081b3a;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.header-top .social-icons li:hover a {
    transform: rotateY(360deg);
    
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.header-top .contact-area i {
    font-size: 1.2rem;
    color: #3143ef;
}
.header-top .contact-area a span {
    color: #081b3a;
    font-size: .85rem;
    line-height: 1.3;
}
.header-top .contact-area a span.title {
    font-weight: 500;
}
.header-top .contact-area a:hover span {
    color: #3143ef;
}

/*** Header ***/
header {
	position: relative;
    background: #3143ef;
    z-index: 9999;
}
header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
    min-height: 100px;
}
header nav .logo img {
    width: 100px;
	height: 95px;
	object-fit: contain;
	-o-object-fit: contain;
}
header nav .bars {
    cursor: pointer;
    display: none;
	color: #fff;
}
header nav .links-list {
    margin-left: auto;
}
header nav .links-list > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
header nav .links-list > ul .list-item {
    margin-right: 2.4rem;
    position: relative;
    padding: 1rem 0;
}
header nav .links-list > ul .list-item:last-child {
    margin-right: 0;
}
header nav .links-list > ul .list-item .link {
    color: #fff;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    position: relative;
    padding-bottom: 3px;
    font-size: 1rem;
    text-transform: uppercase;
     -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
header nav .links-list > ul .list-item .link:hover {
    color: #989898;
}
header nav .links-list > ul .list-item.dropdown .link i {
    margin-left: 3px;
    -webkit-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}
header nav .links-list > ul .list-item.dropdown:hover i {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
header nav .links-list > ul .list-item img {
    width: 35px;
}
header nav .links-list > ul .list-item .link.active-link,
header nav .links-list > ul .list-item .link:hover {
/*    color: #3143ef;*/
}
header nav .links-list > ul .list-item .link.active-link {
	font-weight: bold;
}
header nav .links-list > ul .list-item .drop-list {
    background: #fff;
    padding: 10px;
    position: absolute;
    top: 100%;
    z-index: 2;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
header nav .links-list > ul .list-item .drop-list li {
    width: 150px;
    padding: 8px;
}
header nav .links-list > ul .list-item .drop-list li a {
    display: block;
}
header nav .links-list > ul .list-item li a {
    display: block;
    white-space: nowrap;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
header nav .links-list > ul .list-item li a:hover {
    color: #3143ef;
}
header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3143ef;
    -webkit-animation-name: stickyheader;
    animation-name: stickyheader;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    width: 100%;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

@-webkit-keyframes stickyheader {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-60px);
        transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes stickyheader {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-60px);
        transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


header nav .links-list > ul .list-item:hover .drop-list {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}


/***
    main slider 
***/
.main-slider {
    position: relative;
}

.main-slider .banner-slides .banner-title,
.main-slider .banner-slides .banner-text,
.main-slider .banner-slides .banner-top-title small {
    color: #ffffff;
    font-size: 3.1rem;
    font-weight: 700;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}
.main-slider .banner-slides .banner-text {
    font-size: 1.1rem;
    font-weight: 400;
}

.main-slider .banner-slides .active .banner-title {
    margin-bottom: 1rem;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}
.main-slider .banner-slides .active .banner-text {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}
.main-slider .banner-slides .active .banner-btn {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.main-slider .banner-slides .banner-btn {
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    margin-top: 2.8rem;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}
.main-slider .banner-slides .slide {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    height: 85vh;
	display: flex;
	align-items: center;
}
.main-slider .banner-slides .slide:before {
    background-color: rgba(29, 41, 62, 0.5);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.main-slider .carousel-btn-block {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 100%;
	margin-top: -60px;
    z-index: 9;
}
.main-slider .carousel-btn-block .carousel-btn {
	background-color: rgba(49, 67, 239, .3);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    vertical-align: middle;
    border-radius: 0.25rem;
    z-index: 9;
}
.main-slider .carousel-btn-block .carousel-btn:hover {
	background-color: #3143ef;
}
.main-slider .carousel-btn-block .carousel-btn.right-btn {
    position: absolute;
    right: 0;
}
.main-slider .carousel-btn-block .carousel-btn.left-btn {
    position: absolute;
    left: 0;
}
.main-slider .owl-theme .owl-nav {
    display: none;
}


/***
	about section
***/
.about-section .about-media:last-child {
	margin-top: 5.5rem;
    margin-left: -2rem;
}
.about-section .about-media img {
	border-radius: 8px;
	width: 100%;
}
.about-section .agency-block .icon-box i {
    position: relative;
    width: 3.6rem;
    height: 3.6rem;
    color: #ffffff;
    font-size: 1.6rem;
    border-radius: 50px;
    line-height: 3.6rem;
    text-align: center;
    display: inline-block;
    background-color: #3143ef;
}
.about-section .agency-block .icon-box i.fa-plane {
    display: inline-block;
    transform: rotate(-35deg);
}

/***
    Post
***/
.post {
    position: relative;
    border-radius: .25rem;
    overflow: hidden;
}
.post .post-image {
    overflow: hidden;
    position: relative;
}
.post .post-image img {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.post:hover .post-image img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.post .post-desc {
    padding: 1.9rem;
    background: #ffffff;
}
.post .post-desc h4 {
    margin: 0;
    text-transform: capitalize;
    font-weight: 600;
}
.post .post-desc h4 a {
    color: #081b3a;
    display: inline-block;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.post .post-desc h4 a:hover {
    color: #3143ef
}
.post-meta ul li {
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    position: relative;
}
.post-meta ul li.tag {
    margin-right: 1.5rem;
    color: #3143ef;
}
.post-meta ul li.date {
    font-size: .85rem;
}
.post-meta ul li i {
    color: #3143ef;
}
.post-title p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/***
    Team Section
***/
.team-member .team-images {
    position: relative;
    overflow: hidden;
    border-radius: .25rem
}
.team-member .team-description {
    -webkit-box-shadow: 0px 3px 65px 0px rgba(26,26,66,0.070);
    -moz-box-shadow: 0px 3px 65px 0px rgba(26,26,66,0.070);
    box-shadow: 0px 3px 65px 0px rgba(26,26,66,0.070);
}
.team-member .team-description span {
    color: #081b3a;
    font-weight: 500;
}
.team-member .team-description h5 {
    margin: 0.625rem 0;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #3143ef;
}
.team-member .team-description h5 a:hover {
    color: #fd5b03
}
.team-member .team-social-icon {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    padding: 10px;
    -webkit-transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    transform: translateX(-101%);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    background: #3143ef;
}
.team-member:hover .team-social-icon {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.team-member .team-social-icon ul li a {
    height: 2.5rem;
    border-radius: 50%;
    width: 2.5rem;
    line-height: 2.5rem;
}
.team-member .team-social-icon ul li a:hover {
    background: #fd5b03;
    color: #ffffff;
}
.team-member p {
    margin: 0.9rem 0;
    color: #ffffff
}
.team-member .team-description {
    margin: -2.5rem 1.56rem 0;
    padding: 0.875rem 1.56rem 0.9rem;
    background-color: #fff !important;
    border-radius: .25rem;
    overflow: hidden;
    -webkit-transition: .5s cubic-bezier(.3, .58, .55, 1);
    transition: .5s cubic-bezier(.3, .58, .55, 1);
    z-index: 9;
    position: relative;
}
.team-member:hover .team-description {
    transform: translateY(-4.06rem);
}

/***
    Services Section
***/
.services-section .services-single .icon i {
    vertical-align: top;
}
.services-section .services-single .services-content-wrap h6 {
    font-weight: 600;
}
.services-section .services-single .services-content-wrap .link-with-icon {
    font-weight: 500;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.services-section .services-single .services-content-wrap .link-with-icon i {
    font-size: .8rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.services-section .services-single .services-content-wrap .link-with-icon:hover {
    color: #3143ef;
}
.services-section .services-single .services-content-wrap .link-with-icon:hover i {
    margin-left: .5rem;
}

/***
    Breadcrumb
***/
.breadcrumb-wrapper {
    display: flex;
    align-items: center;
    background-image: url(../img/breadcrumb-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    padding: 8rem 0;
    z-index: 2;
    text-align: center;
    color: #fff;
}
.breadcrumb-wrapper:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #181b1c;
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index: -1;
}
.breadcrumb-wrapper h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}
.breadcrumb-wrapper .breadcrumb {
    justify-content: center;
}
.breadcrumb-wrapper .breadcrumb .breadcrumb-item.active {
    color: #fff;
}
.breadcrumb-wrapper .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}

/***
    Consultation Section
***/
.consultation-section {
    position: relative;
    padding: 80px 0;
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.consultation-section:before {
    content: '';
    background-color: rgba(0,0,0, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.consultation-section .section-title h2 {
    font-size: 2.5rem;
}
.consultation-section form .form-control {
    height: 50px;
    border-radius: 0;
    font-size: 13px;
    color: #081b3a;
    background: none;
    border: none;
    border-bottom: 1px solid #eeeff7;
}
.consultation-section form .form-control:focus {
    box-shadow: none;
}

/***
    Footer
***/
footer {
    position: relative;
    padding: 50px 0 20px;
    background: #0d092c;
    color: #c6c6c6;
    background-position: center;
}
footer:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(5,4,2,0.85);
}
footer .container {
    position: relative;
}
footer .footer-content {
    padding-bottom: 25px;
}

footer .footer-logo img {
    width: 130px;
	height: 125px;
	object-fit: contain;
	-o-object-fit: contain;
    margin-bottom: 20px;
}

footer .footer-title h5 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

footer .footer-col li {
    margin-bottom: 10px;
}

footer .footer-col li > a {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

footer .footer-col li > a:hover {
    color: #ccc;
}

footer .contact-list li i {
    color: #333;
    width: 24px;
}

footer .news-text a:hover {
    color: #ccc;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

footer .news-text span {
    display: block;
    font-size: 13px;
    color: #333;
    margin-top: 10px;
}
footer .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 25px;
}
footer .footer-bottom .copyrights p i {
    margin: 0 10px;
    color: #f00;
}
footer .footer-bottom .copyrights p a {
    color: #119ec1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
footer .footer-bottom .copyrights p a:hover {
    color: #fff;
}
footer .footer-bottom .footer-social .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
footer .footer-bottom .footer-social .social-list li {
    margin-left: 20px;
}
footer .footer-bottom .footer-social .social-list li a:hover {
    color: #ccc;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

/** whatsapp **/
#whatsapp {
    position: fixed;
    bottom: 6.875rem;
    right: 1.875rem;
    z-index: 99;
}
#whatsapp a {
    display: block;
    background: #04d894;
    color: #fff;
    font-size: 1.5rem;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
    line-height: 3.125rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
#whatsapp .light {
    width: 70px;
    height: 70px;
    position: absolute;
    background: #8ef9d6;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    -webkit-animation: lightning 1.5s linear infinite;
    animation: lightning 1.5s linear infinite;
}

@-webkit-keyframes lightning {
    50% {
        opacity: 0;
    }
}

@keyframes lightning {
    50% {
        opacity: 0;
    }
}

/** Scroll To Top **/
#scroll-top {
    position: fixed;
    right: 1.85rem;
    bottom: 1.5rem;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 1.4rem;
    color: #ffffff;
    background: #3143ef;
    cursor: pointer;
    display: none;
}

/*** 
    contact page 
***/
.contact-page .contact-info {
	margin-bottom: 50px;
}
.contact-page .contact-info i {
	color: #3143ef;
	font-size: 30px;
	margin-bottom: 20px;
}
.contact-page .contact-info p {
	color: #777;
}
.contact-page form label {
    display: block;
    font-weight: bold;
}
.contact-page form input, .contact-page form textarea {
    width: 100%;
    height: 50px;
	font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0 20px;
    outline: none;
}
.contact-page form textarea {
    height: 9em;
    padding: 10px 20px;
}
.contact-page form .submit button {
    cursor: pointer;
}
.contact-page .contact-map {
    margin-top: 50px;
}
.contact-page .contact-map .mapouter {
    width: 100%;
}
.contact-page .contact-map .mapouter .gmap_canvas {
    width: 100%;
}
.contact-page .contact-map .mapouter iframe {
    width: 100%;
}


/*** main form ***/
.main-form label {
    display: block;
}
.main-form input, .main-form textarea, .main-form select {
    width: 100%;
    height: 45px;
	font-size: 14px;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    padding: 0 20px;
    outline: none;
}
.main-form textarea {
    height: 5rem;
    padding: 10px 20px;
}
.main-form .submit button {
    cursor: pointer;
}


/**
    Responsive
**/
@media (min-width: 1400px) {
	.cta-section {
		width: calc(100% - 180px);
		margin: 0 auto;
	}
}
@media (min-width: 1600px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 80%;
	}
}

@media (max-width: 1366px) {
    html {
        font-size: 15px;
    }
}

@media(max-width: 1199px) {
    html {
        font-size: 14px;
    }
    .hero-section {
        min-height: 800px;
    }
	.cta-section {
		padding: 130px 0;
	}
	.cta-section h2 {
		font-size: 5rem;
	}
    .breadcrumb-wrapper {
        padding: 4rem 0;
    }
    .breadcrumb-wrapper h1 {
        font-size: 3rem;
    }
}

@media(max-width: 991px) {

    /* header */
    header nav {
        min-height: 80px;
    }
    header nav .bars {
        display: block;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    header nav .logo img {
        width: 70px;
        height: 65px;
    }
    header nav .links-list {
        display: none;
        background: #fff;
        padding: 30px;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        border-radius: 8px;
		box-shadow: 1px 1.732px 60px 0px rgb(0 0 0 / 20%);
    }
	header nav .links-list > ul .list-item .link {
		color: #212529;
	}

    header nav .links-list > ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    header nav .links-list > ul .list-item {
        margin: 5px 0;
    }

    header nav .links-list > ul .list-item:last-child {
        width: 218px;
    }

    .dropdown .droplist {
        width: 100%;
    }

    header nav .links-list > ul .list-item {
        padding: 0 0 5px;
    }
}

@media(max-width: 767px) {
    html {
        font-size: 13px;
    }
    .main-btn {
        font-size: 15px;
        padding: 10px 35px;
    }
    .sec-padding {
        padding: 40px 0;
    }
    .section-title h2 {
        font-size: 21px;
    }
    .section-title p {
        font-size: 14px;
    }
	.section-title h1 {
		font-size: 1.9rem;
	}
    .section-title h1 span {
        font-size: 1.9rem;
    }
	.main-slider .banner-slides .slide {
		background-position: center;
		text-align: center;
	}
	.about-section .about-media img.main-img {
		width: 350px;
		height: 350px;
	}
	.about-section .about-media img.ov-img {
		width: 190px;
		height: 190px;
	}
}

@media(max-width: 575px) {
	footer .footer-bottom {
		flex-direction: column;
		align-items: center;
	}
	.about-section .about-media {
		padding-top: 40px;
		padding-left: 0;
		padding-right: 0;
	}
	.services-section .service-card .card-img img {
		height: 220px;
	}
	.about-section .about-media img.main-img {
		width: 250px;
		height: 250px;
	}
}